.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  color: var(--white);
  min-height: var(--header-height);
  background-color: var(--image-background);
  padding: 0 1rem;

  .mobile {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
  }

  .logoContainer {
    position: relative;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;

    &:dir(ltr) {
      margin-right: 3rem;
    }

    &:dir(rtl) {
      margin-left: 3rem;
    }
  }

  &.mobile {
    .logoContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }
}
