.footer {
  background-color: var(--image-background);
  color: var(--white);
  position: relative;
  display: flex;
  padding: 0.8rem 1.6rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: var(--footer-height);

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    &:dir(rtl) {
      gap: 0;
      padding: 0 1.6rem 0.8rem 1.6rem;

      & > p {
        font-size: 1.8rem;
      }
    }
  }
}

.creator {
  display: flex;
  gap: 0.6rem;
  font-family: "Graffiti", sans-serif;

  &:dir(rtl) {
    font-family: "OHSavyonChenKipper", sans-serif;
  }

  & > p {
    font-size: 2.2rem;
    line-height: 1.4;

    &:dir(ltr) {
      font-size: 2rem;
    }
  }

  & a {
    color: var(--contrast-red);
    transition: color 0.3s ease;
    font-size: 2.4rem;

    &:hover {
      color: var(--social-hover);
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  color: var(--white);

  font-size: 2rem;

  &:dir(ltr) {
    font-size: 1.5rem;
    gap: 1.6rem;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
    width: 80%;
  }

  @media (max-width: 768px) {
    &:dir(ltr) {
      font-size: 1.3rem;
    }
  }
}
