.container {
  padding: 0 2rem;
}

.header {
  font-size: 6rem;
  color: var(--red);
}

.text {
  font-size: 4rem;
  color: var(--header-text);
  line-height: 1;
  text-align: center;
}

.action {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  & > * {
    font-size: 5rem;

    &:not(a) {
      font-size: 3rem;
      color: var(--header-text);
    }

    &:dir(rtl) {
      padding-bottom: 1.5rem;
      &:not(a) {
        padding-bottom: 0;
      }
    }
  }
}
.link {
  color: var(--red);
}
